<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="../public/css/authority/basic_layout.css">
    <link rel="stylesheet" type="text/css" href="../public/css/authority/common_style.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/fancybox/dist/css/jquery.fancybox.css">

    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../node_modules/fancybox/dist/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="../node_modules/fancybox/dist/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="../node_modules/art-dialog/dist/dialog.js"></script>

    <script type="text/javascript" src="../public/js/commonAll.js"></script>
    <script type="text/javascript" src="../public/js/check_list_js.js"></script>
    <title>用户管理系统</title>
    <style>
        .alt td {
            background: black !important;
        }
    </style>
</head>
<body>
<form id="submitForm" name="submitForm" action="" method="post">
    <input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
    <input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
    <div id="container">
        <div class="ui_content">
            <div class="ui_text_indent">
                <div id="box_border">
                    <div id="box_top">搜索</div>
                    <div class="box_center">
                        <label for="search" class="ui_text_rt">请输入关键字（姓名)</label>
                        <input type="text"
                               id="search"
                               name="search"
                               class="ui_input_txt03"
                               value='{{searchText}}'/>
                        <input id="searchBtn" type="button" value="查询" class="ui_input_btn01"/>
                        <input id="showAll" type="button" value="显示全部" class="ui_input_btn01"/>
                    </div>
                    <div class="box_center">
                        <input id="deleteMore" type="button" value="批量删除" class="ui_input_btn01"/>
                    </div>

                </div>
            </div>
        </div>
        <div class="ui_content">
            <div class="ui_tb">
                <table class="table"
                       cellspacing="0"
                       cellpadding="0"
                       width="100%"
                       align="center"
                       border="0">
                    <tr id="list_title">
                        <th width="30"><input type="checkbox" id="all" name="all"/></th>
                        <th>工号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>所属部门</th>
                        <th>签到时间</th>
                        <th>操作</th>
                    </tr>
                    {{each users}}
                    <tr>
                        <td><input type="checkbox" name="IDCheck" value="{{$value.id}}"/></td>
                        <td>{{$value.uid }}</td>
                        <td>{{$value.name }}</td>

                        {{if $value.gender ==='female'}}
                        <td><span class="female">女</span></td>
                        {{else}}
                        <td><span class="male">男</span></td>
                        {{/if}}

                        <td>{{$value.department }}</td>

                        {{if $value.check_time==null }}
                        <td><span>—</span></td>
                        {{else}}
                        <td>{{$value.check_time }}</td>
                        {{/if}}
                        <td>
                            <a href="javascript:" id="{{$value.id}}" class="delete">删除</a>
                        </td>
                    </tr>
                    {{/each }}

                </table>
            </div>
            <div class="ui_tb_h150">
                <div class="ui_flt" style="height: 30px; line-height: 30px;">
                    共有
                    <span class="ui_txt_bold04" id="pages_total">{{pages.total}}</span>
                    条记录，当前第
                    <span class="ui_txt_bold04" id="pages_currentPage"> {{pages.currentPage}} </span>
                    <span class=" ui_txt_bold04"> / </span>
                    {{if pages.totalPage ==0}}
                    <span class="ui_txt_bold04" id="pages_totalPage"> 1 </span>
                    {{else}}
                    <span class="ui_txt_bold04" id="pages_totalPage"> {{pages.totalPage}} </span>
                    {{/if}}
                    页
                </div>
                <div class=" ui_frt">

                    <input type="button" value="首页" class="ui_input_btn01"
                           id="firstPage"/>
                    <input type="button" value="上一页" class="ui_input_btn01"
                           id="prePage"/>
                    <input type="button" value="下一页" class="ui_input_btn01"
                           id="nextPage"/>
                    <input type="button" value="尾页" class="ui_input_btn01"
                           id="lastPage"/>

                    转到第<input type="text" id="jumpNumTxt" value="" class="ui_input_txt01"/>页
                    <input type="button" class="ui_input_btn01" value="跳转" id="jumpInputPage"/>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
