<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>FRA-管理系统</title>
    <link rel="stylesheet" href="../public/css/authority/main_css.css">
    <link rel="stylesheet" href="../public/css/authority/zTreeStyle.css">

    <script type="text/javascript" src="../public/js/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="../public/js/zTree/jquery.ztree.core-3.2.js"></script>
    <script type="text/javascript" src="../public/js/authority/commonAll.js"></script>
    <script type="text/javascript" src="../public/js/dialog.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>

</head>
<body onload="getDate01()">
<div id="top">
    <div id="top_logo">
        <span>FRA 管理系统</span>
        <!--<img alt = "logo" src = "img/common/logo.png">-->
    </div>
    <div id="top_links">
        <div id="top_op">
            <ul>
                <li>
                    <img alt="当前用户" src="../public/img/common/user.png">
                    <span> {{ user.nickname  }}</span>
                </li>
                <li>
                    <img alt="今天是" src="../public/img/common/date.png">
                    <span id="day_day"></span>
                </li>
            </ul>
        </div>
        <div id="top_close">
            <a href="javascript:" onclick="return logout()">
                <img alt="退出系统" title="退出系统" src="../public/img/common/close.jpg">
            </a>
        </div>
    </div>
</div>
<!-- side menu start -->
<div id="side">
    <!--左边的tab栏-->
    <div id="left_menu">
        <!--功能按钮-->
        <ul id="TabPage2">
            <li id="left_tab1"
                class="selected"
                onClick="javascript:switchTab('TabPage2','left_tab1');"
                title="业务模块">
                <img alt="业务模块" title="业务模块" src="../public/img/common/1_hover.png">
            </li>
            <li id="left_tab2" onClick="javascript:switchTab('TabPage2','left_tab2');" title="系统管理">
                <img alt="系统管理" title="系统管理" src="../public/img/common/2.png">
            </li>
            <li id="left_tab3" onClick="javascript:switchTab('TabPage2','left_tab3');" title="其他">
                <img alt="其他" title="其他" src="../public/img/common/3.png">
            </li>
        </ul>
        <!--隐藏按钮-->
        <div id="nav_show">
            <a href="javascript:" id="show_hide_btn">
                <img alt="显示/隐藏"
                     title="显示/隐藏"
                     src="../public/img/common/nav_hide.png">
            </a>
        </div>
    </div>
    <!--左边的树状结构-->
    <div id="left_menu_cnt">
        <div id="nav_module">
            业务模块
            <!--<img src = "img/common/module_1.png" width = "210" height = "58"/>-->
        </div>
        <div id="nav_resource">
            <ul id="dleft_tab1" class="ztree"></ul>
        </div>
    </div>
</div>
<div class="content">
    <div id="top_nav">
        <span id="here_area">当前位置：系统&nbsp;>&nbsp;系统介绍</span>
    </div>
    <div id="main">
        <iframe name="right"
                id="rightMain"
                src="/user_list"
                frameborder="no"
                scrolling="auto"
                width="100%"
                height="100%"
                allowtransparency="true"/>
    </div>
</div>
</body>
</html>
   
 