<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="./public/css/authority/basic_layout.css">
    <link rel="stylesheet" href="./public/css/authority/common_style.css">
    <link rel="stylesheet" href="../public/css/authority/jquery.fancybox-1.3.4.css" media="screen"/>

    <script type="text/javascript" src="../public/js/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="../public/js/authority/commonAll.js"></script>
    <script type="text/javascript" src="../public/js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="../public/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="../public/js/dialog.js"></script>
    <script type="text/javascript" src="../public/js/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../public/js/user_list_js.js"></script>
    <title>用户管理系统</title>
    <style>
        .alt td {
            background: black !important;
        }
    </style>
</head>
<body>
<form id="submitForm" name="submitForm" action="" method="post">
    <input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
    <input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
    <div id="container">
        <div class="ui_content">
            <div class="ui_text_indent">
                <div id="box_border">
                    <div id="box_top">搜索</div>
                    <div id="box_center">
                        小区
                        <select name="fangyuanEntity.fyXqCode"
                                id="fyXq"
                                class="ui_select01"
                                onchange="getFyDhListByFyXqCode();">
                            <option value=""
                            >--请选择--
                            </option>
                            <option value="6">瑞景河畔</option>
                            <option value="77">蔚蓝小区</option>
                            <option value="83">和盛园小区</option>
                        </select>

                        栋号
                        <select name="fangyuanEntity.fyDhCode" id="fyDh" class="ui_select01">
                            <option value="">--请选择--</option>
                        </select>
                        户型
                        <select name="fangyuanEntity.fyHxCode" id="fyHx" class="ui_select01">
                            <option value="">--请选择--</option>
                            <option value="76">一室一厅一卫</option>
                            <option value="10">两室一厅一卫</option>
                            <option value="14">三室一厅一卫</option>
                            <option value="71">三室两厅一卫</option>
                        </select>
                        状态
                        <select name="fangyuanEntity.fyStatus" id="fyStatus" class="ui_select01">
                            <option value="">--请选择--</option>
                            <option value="26">在建</option>
                            <option value="25">建成待租</option>
                            <option value="13">已配租</option>
                            <option value="12">已租赁</option>
                            <option value="24">腾退待租</option>
                            <option value="23">欠费</option>
                            <option value="27">其他</option>
                        </select>

                        座落&nbsp;&nbsp;<input type="text"
                                             id="fyZldz"
                                             name="fangyuanEntity.fyZldz"
                                             class="ui_input_txt02"/>
                    </div>
                    <div id="box_bottom">
                        <a href="/changePassword">修改管理员密码</a>
                        <input type="button" value="查询" class="ui_input_btn01" onclick="search();"/>
                        <input type="button" value="新增" class="ui_input_btn01" id="addBtn"/>
                        <input type="button" value="删除" class="ui_input_btn01" onclick="batchDel();"/>
                        <input type="button" value="导入" class="ui_input_btn01" id="importBtn"/>
                        <input type="button" value="导出" class="ui_input_btn01" onclick="exportExcel();"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui_content">
            <div class="ui_tb">
                <table class="table"
                       cellspacing="0"
                       cellpadding="0"
                       width="100%"
                       align="center"
                       border="0">
                    <tr>
                        <th width="30"><input type="checkbox" id="all" name="all"/></th>
                        <th>工号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>所属部门</th>
                        <th>是否签到</th>
                        <th>签到时间</th>
                        <!--<th>租赁性质</th>-->
                        <!--<th>状态</th>-->
                        <th>操作</th>
                    </tr>
                    {{each users}}
                    <tr>
                        <td><input type="checkbox" name="IDCheck" value="14458579642011" class="acb"/></td>
                        <td>{{$value.uid }}</td>
                        <td>{{$value.name }}</td>

                        {{if $value.gender ==='female'}}
                        <td><span style="color: deeppink; font-weight: bolder">女</span></td>
                        {{else}}
                        <td><span style="color: dodgerblue; font-weight: bolder">男</span></td>
                        {{/if}}

                        <td>{{$value.department }}</td>

                        {{if $value.check_status==1 }}
                        <td><span style="color: green;font-size: 30px; font-weight: bold">√</span></td>
                        {{else}}
                        <td><span style="color: red; font-size: 30px; font-weight: bold ">×</span></td>
                        {{/if}}

                        <td>{{$value.check_tiem }}</td>
                        <input type="hidden" name="_uid" value="_uid" id="fyID"/>

                        <!--<td公租房</td>-->
                        <!--<td>建成待租</td>-->
                        <td>
                            <a href="" class="editBtn" data-id={{$value._id}}>编辑</a>
                            <a href="/user_list/delete?_id={{ $value._id }}">删除</a>
                        </td>
                    </tr>
                    {{/each }}
                </table>
            </div>
            <div class="ui_tb_h150">
                <div class="ui_flt" style="height: 30px; line-height: 30px;">
                    共有
                    <span class="ui_txt_bold04" id="pages_total">{{pages.total}}</span>
                    条记录，当前第
                    <span class="ui_txt_bold04" id="pages_currentPage"> {{pages.currentPage}} </span>
                    <span class=" ui_txt_bold04"> / </span>
                    <span class="ui_txt_bold04" id="pages_totalPage"> {{pages.totalPage}} </span>
                    页
                </div>
                <div class=" ui_frt">

                    <input type="button" value="首页" class="ui_input_btn01"
                           id="firstPage"/>
                    <input type="button" value="上一页" class="ui_input_btn01"
                           id="prePage"/>
                    <input type="button" value="下一页" class="ui_input_btn01"
                           id="nextPage"/>
                    <input type="button" value="尾页" class="ui_input_btn01"
                           id="lastPage"/>

                    转到第<input type="text" id="jumpNumTxt" value="" class="ui_input_txt01"/>页
                    <input type="button" class="ui_input_btn01" value="跳转" id="jumpInputPage"/>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
